body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Estilos para la navbar */
.navbar {
  background-color: #4699e7;
  color: #ffffff;
}

.navbar-brand {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-item {
  margin-right: 40px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/* Estilos para cartwidget */
.cart-widget {
  position: absolute;
  right: 20px; 
  top: 5px; 
  display: flex;
  align-items: flex-start; 
}

.notification-badge {
  background-color: #dc3545;
  color: #fff;
  border-radius: 50%;
  padding: 3px 6px; 
  font-size: 1rem;
  margin-left: 2px;
}

.bi-cart {
  font-size: 2rem;
  margin-right: 5px;
}

.badge {
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 5px 8px;
  border-radius: 50%;
  background-color: #dc3545;
  color: #fff;
  font-size: 0.8rem;
}

/* Estilos para ItemListContainer */
.card {
  border: 1px solid #dee2e6;
  border-radius: 5px;
}

.card-title {
  font-size: 2 rem;
  margin-bottom: 0;
  color: #007bff;
}
